*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
input,button,select{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
   
    font-family: sf_pro_display,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}
a{
    margin-left: 7px;
}

.container{
    padding: 0 3rem;
}

header{
    background-color:#F6F7F8;
    padding: 10px 0;
}
header a{
    color: grey;
    font-size: 13px;
    margin-right: 10px;
}
.header-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.header-left a:last-child {
    border: 1.5px solid #0056c1;
    border-radius: 40px;
    display: inline-block;
    font-weight: 500;
    padding: 6px 12px;
    color: #0056c1;
}
.header-left a:last-child:hover {
    background-color: #0056c1;
    color: #fff;
    text-decoration: none;
    transition: .4s;
}
.header-right .right-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}